.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #7a756b;
    border-radius: 15px;
    text-align: center;
  }
  #dropdown{
    display: flex;
    align-content: flex-start;
    padding: 10px;
  }
  
  #button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }